@charset "UTF-8";
/*
========================================================
	- reset
========================================================
*/
html,
body,
div,
span,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1.6;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: "";
}

object,
embed {
  vertical-align: top;
}

hr,
legend {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

img,
abbr,
acronym,
fieldset {
  border: 0;
}

ul,
ol {
  list-style-type: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
}

address {
  font-style: normal;
}

caption,
td,
th {
  font-weight: 400;
  text-align: left;
}

a:focus {
  outline: thin dotted;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

del {
  color: #333;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

hr {
  border: 0;
  height: 1px;
  border-bottom: 1px solid #ccc;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

button {
  border: 0;
  background: 0 0;
  display: block;
  cursor: pointer;
}

input,
textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small {
  font-size: smaller;
}

a,
button {
  text-decoration: none;
  opacity: 1;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  word-break: break-all;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

/*　default link color
---------------------------------------------------------------------------------------*/
a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a, a:focus {
  outline: none;
}

button, input, input:focus {
  outline: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
}

/*
========================================================
	- common @import "base";
========================================================
*/
/*
========================================================
	- base
========================================================
*/
/*
body{
    @include media-query('s') {
      background-color: yellow ;
    }
    @include media-query('m') {
      background-color: green;
    }
    @include media-query('l') {
      background-color: lightblue;
    }
 }
 */
/*
========================================================
	- common
========================================================
/*テキストの設定だけ追記*/
.is-en {
  font-family: "Oswald", sans-serif;
}

.is-robot {
  font-family: "Roboto";
}

/*テキストの設定だけ追記*/
* {
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  letter-spacing: 0;
  line-height: 0;
  word-wrap: break-word;
}

main {
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
          animation: fadeIn 2s ease 0s 1 normal;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body,
html {
  min-width: 992px;
  max-width: 1920px;
  margin: auto;
  font-family: "Noto Sans JP", "Oswald", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #000000;
}

a,
a:hover,
a:visited {
  color: #000000;
  text-decoration: none;
}

b {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.sp-table-row,
.sp-block,
.sp-inline,
.sp-inline-block,
.sp-flex {
  display: none !important;
}

@media screen and (max-width: 576px) and (orientation: portrait) {
  body,
html {
    min-width: 0;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .sp-none {
    display: none !important;
  }

  .sp-block {
    display: block !important;
  }

  .sp-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .sp-inline {
    display: inline !important;
  }

  .sp-inline-block {
    display: inline-block !important;
  }

  .sp-brNone br {
    display: none !important;
  }

  .sp-table-row {
    display: table-row !important;
  }
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.l-wrapper {
  width: 100%;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1%, #c7c7c7), color-stop(0.1%, transparent)), -webkit-gradient(linear, right top, left top, color-stop(0.1%, #c7c7c7), color-stop(0.1%, transparent));
  background-image: linear-gradient(0deg, #c7c7c7 0.1%, transparent 0.1%), linear-gradient(-90deg, #c7c7c7 0.1%, transparent 0.1%);
  background-size: 385px 710px;
}

/*
========================================================
	- p-case
========================================================
*/
.p-case {
  width: 100%;
  margin: 0 auto;
  padding: 88px 0px 69px 0px;
  text-align: center;
}

.p-case__contents__3col:nth-child(1) {
  background-image: url("../img/SVG/_01.svg");
}

.p-case__contents__3col:nth-child(2) {
  background-image: url("../img/SVG/_02.svg");
}

.p-case__contents__3col:nth-child(3) {
  background-image: url("../img/SVG/_03.svg");
}

.p-case__contents {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-case__contents {
    width: 100%;
  }
}

.p-case__contents__3col {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 196px 155px;
  width: 30%;
  height: 306px;
  text-align: left;
  position: relative;
  padding-top: 154px;
}
.p-case__contents__3col:nth-child(2) {
  margin-left: 1%;
  margin-right: 1%;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-case__contents__3col {
    margin: 33px 0px 33px 25px;
    width: 100%;
  }
}

/*
========================================================
	- p-merrit
========================================================
*/
.p-merit {
  width: 100%;
  padding: 69px 0px 69px 0px;
  text-align: center;
}

.p-merit__contents {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 993px) {
  .p-merit__contents {
    width: 1210px;
  }
}

.p-merit__contents__box {
  padding-top: 60px;
}

.p-merit__contents__box.is-right img {
  float: right;
  padding-right: 2vw;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-merit__contents__box.is-right img {
    width: 100%;
  }
}
.p-merit__contents__box.is-right .p-merit__contents__box__description {
  text-align: left;
  float: left;
  width: 55%;
  padding-left: 2vw;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-merit__contents__box.is-right .p-merit__contents__box__description {
    width: 100%;
  }
}

.p-merit__contents__box.is-left img {
  float: left;
  padding-left: 2vw;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-merit__contents__box.is-left img {
    width: 100%;
  }
}
.p-merit__contents__box.is-left .p-merit__contents__box__description {
  text-align: left;
  float: right;
  width: 55%;
  padding-right: 2vw;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-merit__contents__box.is-left .p-merit__contents__box__description {
    width: 100%;
  }
}

.p-merit__contents__box__description {
  position: relative;
  padding: 77px 0px 0px 90px;
}
.p-merit__contents__box__description span {
  position: absolute;
  top: -30px;
  left: 2vw;
}

/*
========================================================
	- p-recommend
========================================================
*/
.p-recommend {
  margin: 100px 1vw 0px 1vw;
  background-color: #ededed;
  position: relative;
}

.p-recommend:before {
  content: url("../img/1x/imgPoint.png");
  display: block;
  position: absolute;
  top: -150px;
  left: calc(0px + 10%);
  height: 302px;
}

.p-recommend__contents {
  width: 100%;
  padding: 145px 70px 70px 70px;
}

.p-recommend__4col {
  display: inline-block;
  float: left;
  width: calc(25% - 20px);
  margin: 0px 10px 0px 10px;
  background-color: #fff;
  padding: 20px;
  height: 490px;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-recommend__4col {
    width: calc(50% - 20px);
    margin-bottom: 10px;
  }
}

/*
========================================================
	- c-heading
========================================================
*/
/*case*/
.c-heading.is-case {
  font-size: 35px;
}

/*merit*/
.c-heading.is-merit {
  font-size: 34px;
  font-family: "小塚明朝 Pro", "Kozuka Mincyo Pro", serif;
}
.c-heading.is-merit strong {
  color: #252a6d;
  font-size: 46px;
}

.c-heading__sub.is-merit {
  font-size: 47px;
}

/*recommend*/
.c-heading.is-recommend {
  font-size: 34px;
  position: absolute;
  top: 1%;
  right: 0;
}
.c-heading.is-recommend strong {
  color: #252a6d;
  font-size: 46px;
}

.c-heading__sub.is-recommend {
  font-size: 82px;
  position: absolute;
  top: -15%;
  right: 0;
}

/*
========================================================
	- c-mainV
========================================================
*/
.c-mainV {
  width: 100%;
}

.c-mainV__inner {
  margin-top: 60px;
  height: 100vh;
  background-image: url("../img/1x/mainvisual-100.jpg");
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  position: relative;
}

.c-mainV__contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 434px;
  height: 461px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 114px;
  padding-bottom: 82px;
}

.c-mainV__logo {
  height: 86px;
  width: 227px;
}

.c-mainV__contents h2 {
  font-family: "小塚明朝 Pro", "Kozuka Mincyo Pro", serif;
  margin: 61px 0px 43px 0px;
}

.c-mainV__newOpen {
  height: 55px;
  width: 314px;
}

/*
========================================================
	- c-bubble
========================================================
*/
.c-bubble {
  background-color: #000000;
  border-radius: 10px;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  font-size: 16px;
  width: 100%;
}

.c-bubble:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 30%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #000000;
  -webkit-transform: rotate(95deg);
  transform: rotate(95deg);
}

.c-bubble p {
  font-weight: 24px;
  margin: 50px 0px 50px 0px;
  text-align: center;
  font-size: 24px;
}

.c-bubble span {
  background-color: #7a89a8;
  border-radius: 20px;
  display: inline-block;
  width: 211px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  text-align: center;
  position: absolute;
  top: -15px;
  right: -10px;
}

/*
========================================================
	- c-num
========================================================
*/
/*case*/
.c-num.is-case {
  font-weight: bold;
  font-size: 24px;
  color: #c7c7c7;
  position: absolute;
  top: 84px;
  left: 84px;
}

/*merit*/
.c-num.is-merit {
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  background: url("../img/SVG/merit.svg") no-repeat;
  display: block;
  height: 89px;
  width: 111px;
  padding: 15px 10px;
}

/*
.c-num:before{
  content: url('../img/SVG/merit.svg');
  width:62px;
  height: 23px;
  position: absolute;
  top:-20px;
  left:calc(50% - 31px);
}

.c-num:after{
		width: calc(100% - 46px);
		height: 0;
		display: block;
		position: absolute;
		left: 0;
		content: "";
    border-top: solid  46px $primary;
    border-radius: 0px 0px 0px 46px;
		border-right: solid 46px transparent;
		top: 100%;
	}
  */
/*
========================================================
	- c-text
========================================================
*/
/*merit*/
.c-text__summary.is-merit {
  font-size: 28px;
  font-weight: bold;
}
.c-text__summary.is-merit strong {
  color: #252a6d;
  font-size: 36px;
}

.c-text__summary.is-merit:after {
  content: url("../img/SVG/comic.svg");
  display: inline-block;
  width: 41px;
  height: 34px;
  position: absolute;
  top: calc(0% + 68px);
}

.c-text__detail.is-merit {
  margin-top: 20px;
  font-size: 21px;
}

/*recommend*/
.c-text__summary.is-recommend {
  font-size: 20px;
  margin-bottom: 10px;
}

.c-text__detail.is-recommend {
  font-size: 19px;
}