@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: white;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "←";
}
[dir=rtl] .slick-prev:before {
  content: "→";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "→";
}
[dir=rtl] .slick-next:before {
  content: "←";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "•";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

/*
========================================================
	- reset
========================================================
*/
html,
body,
div,
span,
object,
iframe,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
dialog,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  line-height: 1.6;
}

article,
aside,
dialog,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
  font-style: normal;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th {
  text-align: left;
}

q:before,
q:after {
  content: "";
}

object,
embed {
  vertical-align: top;
}

hr,
legend {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
}

img,
abbr,
acronym,
fieldset {
  border: 0;
}

ul,
ol {
  list-style-type: none;
}

a,
abbr,
acronym,
address,
applet,
article,
aside,
audio,
b,
big,
blockquote,
body,
canvas,
caption,
center,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
embed,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
output,
p,
pre,
q,
ruby,
s,
samp,
section,
small,
span,
strike,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
tt,
u,
ul,
var,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

main {
  display: block;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:after,
blockquote:before,
q:after,
q:before {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  vertical-align: top;
}

address {
  font-style: normal;
}

caption,
td,
th {
  font-weight: 400;
  text-align: left;
}

a:focus {
  outline: thin dotted;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
}

del {
  color: #333;
}

ins {
  background: #fff9c0;
  text-decoration: none;
}

hr {
  border: 0;
  height: 1px;
  border-bottom: 1px solid #ccc;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

button {
  border: 0;
  background: 0 0;
  display: block;
  cursor: pointer;
}

input,
textarea {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

small {
  font-size: smaller;
}

a,
button {
  text-decoration: none;
  opacity: 1;
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

body {
  word-break: break-all;
}

img {
  border: 0;
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: middle;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
  height: auto;
}

/*　default link color
---------------------------------------------------------------------------------------*/
a {
  text-decoration: none;
}

a:link {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a, a:focus {
  outline: none;
}

button, input, input:focus {
  outline: none;
}

input::-moz-focus-inner,
button::-moz-focus-inner {
  border: none;
}

/*
========================================================
	- common @import "base";
========================================================
*/
/*
========================================================
	- base
========================================================
*/
/*
body{
    @include media-query('s') {
      background-color: yellow ;
    }
    @include media-query('m') {
      background-color: green;
    }
    @include media-query('l') {
      background-color: lightblue;
    }
 }
 */
/*
========================================================
	- common
========================================================
/*テキストの設定だけ追記*/
.is-en {
  font-family: "Oswald", sans-serif;
}

.is-robot {
  font-family: "Roboto";
}

/*テキストの設定だけ追記*/
* {
  font-size: 16px;
  font-weight: normal;
  padding: 0;
  margin: 0;
  letter-spacing: 0.05em;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  letter-spacing: 0;
  line-height: 0;
  word-wrap: break-word;
}

main {
  -webkit-animation: fadeIn 2s ease 0s 1 normal;
          animation: fadeIn 2s ease 0s 1 normal;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
body,
html {
  min-width: 992px;
  max-width: 1920px;
  margin: auto;
  font-family: "Noto Sans JP", "Oswald", "Yu Gothic Medium", "游ゴシック体", YuGothic, "ヒラギノ角ゴシック Pro", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  color: #000000;
}

a,
a:hover,
a:visited {
  color: #000000;
  text-decoration: none;
}

b {
  font-weight: bold;
}

img {
  max-width: 100%;
  height: auto;
}

ul {
  list-style-type: none;
}

.sp-table-row,
.sp-block,
.sp-inline,
.sp-inline-block,
.sp-flex {
  display: none !important;
}

@media screen and (max-width: 576px) and (orientation: portrait) {
  body,
html {
    min-width: 0;
    max-width: 100vw;
    overflow-x: hidden;
  }

  .sp-none {
    display: none !important;
  }

  .sp-block {
    display: block !important;
  }

  .sp-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }

  .sp-inline {
    display: inline !important;
  }

  .sp-inline-block {
    display: inline-block !important;
  }

  .sp-brNone br {
    display: none !important;
  }

  .sp-table-row {
    display: table-row !important;
  }
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.l-wrapper {
  width: 100%;
  background-color: #fff;
  background-image: -webkit-gradient(linear, left bottom, left top, color-stop(0.1%, #c7c7c7), color-stop(0.1%, transparent)), -webkit-gradient(linear, right top, left top, color-stop(0.1%, #c7c7c7), color-stop(0.1%, transparent));
  background-image: linear-gradient(0deg, #c7c7c7 0.1%, transparent 0.1%), linear-gradient(-90deg, #c7c7c7 0.1%, transparent 0.1%);
  background-size: 385px 710px;
}

/*
========================================================
	- p-case
========================================================
*/
.p-case {
  width: 100%;
  margin: 0 auto;
  padding: 88px 0px 69px 0px;
  text-align: center;
}

.p-case__contents__3col:nth-child(1) {
  background-image: url("../img/SVG/_01.svg");
}

.p-case__contents__3col:nth-child(2) {
  background-image: url("../img/SVG/_02.svg");
}

.p-case__contents__3col:nth-child(3) {
  background-image: url("../img/SVG/_03.svg");
}

.p-case__contents {
  width: 100%;
  margin: 0 auto;
  margin-top: 60px;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-case__contents {
    width: 100%;
  }
}

.p-case__contents__3col {
  display: inline-block;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-size: 196px 155px;
  width: 30%;
  height: 306px;
  text-align: left;
  position: relative;
  padding-top: 154px;
}
.p-case__contents__3col:nth-child(2) {
  margin-left: 1%;
  margin-right: 1%;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-case__contents__3col {
    margin: 33px 0px 33px 25px;
    width: 100%;
  }
}

/*
========================================================
	- p-merrit
========================================================
*/
.p-merit {
  width: 100%;
  padding: 69px 0px 69px 0px;
  text-align: center;
}

.p-merit__contents {
  width: 100%;
  margin: 0 auto;
}
@media screen and (min-width: 993px) {
  .p-merit__contents {
    width: 1210px;
  }
}

.p-merit__contents__box {
  padding-top: 60px;
}

.p-merit__contents__box.is-right img {
  float: right;
  padding-right: 2vw;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-merit__contents__box.is-right img {
    width: 100%;
  }
}
.p-merit__contents__box.is-right .p-merit__contents__box__description {
  text-align: left;
  float: left;
  width: 55%;
  padding-left: 2vw;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-merit__contents__box.is-right .p-merit__contents__box__description {
    width: 100%;
  }
}

.p-merit__contents__box.is-left img {
  float: left;
  padding-left: 2vw;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-merit__contents__box.is-left img {
    width: 100%;
  }
}
.p-merit__contents__box.is-left .p-merit__contents__box__description {
  text-align: left;
  float: right;
  width: 55%;
  padding-right: 2vw;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-merit__contents__box.is-left .p-merit__contents__box__description {
    width: 100%;
  }
}

.p-merit__contents__box__description {
  position: relative;
  padding: 77px 0px 0px 90px;
}
.p-merit__contents__box__description span {
  position: absolute;
  top: -30px;
  left: 2vw;
}

/*
========================================================
	- p-recommend
========================================================
*/
.p-recommend {
  margin: 100px 1vw 0px 1vw;
  background-color: #ededed;
  position: relative;
}

.p-recommend:before {
  content: url("../img/1x/imgPoint.png");
  display: block;
  position: absolute;
  top: -150px;
  left: calc(0px + 10%);
  height: 302px;
}

.p-recommend__contents {
  width: 100%;
  padding: 145px 70px 70px 70px;
}

.p-recommend__4col {
  display: inline-block;
  float: left;
  width: calc(25% - 20px);
  margin: 0px 10px 0px 10px;
  background-color: #fff;
  padding: 20px;
  height: 490px;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-recommend__4col {
    width: calc(50% - 20px);
    margin-bottom: 10px;
  }
}

/*
========================================================
	- p-present
========================================================
*/
.p-present {
  width: 1120px;
  margin: 120px auto;
  padding: 69px 0px 69px 0px;
  text-align: center;
  background-color: #565f64;
}

/*
========================================================
	- p-design
========================================================
*/
.p-design {
  width: 100%;
  position: relative;
}

.p-design__background {
  position: absolute;
  top: 50vh;
  width: 70%;
  height: 50%;
  right: 0;
  background: #ededed;
}

.p-design__contents {
  width: 1120px;
  margin: 120px auto;
  position: relative;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-design__contents {
    width: 100%;
  }
}

.p-design__contents__left {
  float: left;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-design__contents__left {
    width: 100%;
  }
}

.p-design__contents__right {
  float: right;
  position: absolute;
  top: 30%;
  right: -18%;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-design__contents__right {
    position: relative;
  }
}

/*
========================================================
	- p-plan
========================================================
*/
.p-plan {
  width: 1195px;
  margin: 330px auto 130px auto;
  text-align: center;
}
.p-plan p {
  margin: 62px auto 130px auto;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .p-plan {
    width: 100%;
  }
  .p-plan img {
    width: 100%;
  }
}

/*
========================================================
	- p-finance
========================================================
*/
.p-finance {
  width: 100%;
  margin: 0 auto;
  padding: 88px 0px 69px 0px;
  background-color: #ededed;
  text-align: center;
}

.p-finance__contents {
  width: 100%;
  margin: 0 auto;
}

.p-finance__2col {
  background-color: #fff;
  display: inline-block;
  width: 40%;
  height: 400px;
  vertical-align: bottom;
  position: relative;
}

.p-finance__2col__right {
  position: absolute;
  top: 20%;
}

.p-finance__2col__left {
  text-align: left;
  position: absolute;
  top: 20%;
  left: 20%;
}

.p-finance__2col__left:after {
  content: url("../img/SVG/atamakin.svg");
  position: absolute;
  top: 0px;
}

/*
========================================================
	- p-flow
========================================================
*/
.p-flow {
  width: 100%;
  margin: 0 auto;
  padding: 88px 0px 69px 0px;
  text-align: center;
}

.p-flow__chart {
  margin: 70px 0px 70px 0px;
}

.p-flow__chart__list {
  width: 95%;
  margin: 0 auto;
}
.p-flow__chart__list .p-flow__chart__list__box i {
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
  width: calc(20% - 50px);
  margin: 0px 20px 0px 20px;
  padding: 50px 20px;
  height: 242px;
  background-color: #565f64;
}
.p-flow__chart__list .p-flow__chart__list__box i .p-flow__chart__list__box__img {
  height: 27px;
}
.p-flow__chart__list .p-flow__chart__list__box i:first-child {
  background-color: #231815;
}
.p-flow__chart__list .p-flow__chart__list__box i:last-child {
  background-color: #7a89a8;
}
.p-flow__chart__list .p-flow__chart__list__box i:nth-child(n+0):nth-child(-n+4):after {
  content: "";
  position: absolute;
  top: 50%;
  /* 縦軸をセンタリングする */
  right: -35px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  /* 縦軸をセンタリングする */
  border: 8px solid transparent;
  border-left: 12px solid #231815;
  /* 好みで色を変えてください */
}

/*
========================================================
	- p-attention
========================================================
*/
.p-attention {
  width: 100%;
  margin: 0 auto;
  padding: 88px 0px 69px 0px;
  text-align: center;
}

.p-attention__box {
  width: 67%;
  margin: 0 auto 30px;
  background-color: #231815;
  text-align: left;
  padding: 40px 60px;
}
.p-attention__box h3 {
  background-color: #fff;
  border-radius: 40px;
  display: inline-block;
  padding: 5px;
  font-size: 20px;
}

.p-attention__list {
  width: 64%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.p-attention__list .p-attention__list__5col {
  width: 100%;
  text-align: center;
  padding: 20px 20px;
}
.p-attention__list img:nth-child(n+0) {
  height: 83px;
  margin: 10px 0px;
}

.p-attention__list__5col:nth-child(n+0):nth-child(-n+5) {
  border-bottom: 1px #ededed solid;
}

.p-attention__list__5col:nth-child(n+0):nth-child(-n+4) {
  border-right: 1px #ededed solid;
}

.p-attention__list__5col:nth-child(n+6):nth-child(-n+9) {
  border-right: 1px #ededed solid;
}

/*
========================================================
	- p-access
========================================================
*/
.p-access {
  width: 100%;
  margin: 0 auto;
}

.p-access__2col {
  width: 50%;
  height: 700px;
  display: inline-block;
  float: left;
}

.p-access__2col.is-right {
  background-color: #ededed;
  position: relative;
}
.p-access__2col.is-right .p-access__contents {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(-50%) translateX(-50%);
          transform: translateY(-50%) translateX(-50%);
  text-align: center;
}
.p-access__2col.is-right h3 {
  margin-bottom: 40px;
}

/*
========================================================
	- p-contact
========================================================
*/
.p-contact {
  width: 1120px;
  margin: 0 auto;
  text-align: center;
  padding: 10vh 0px;
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
.p-contact span {
  font-size: 47px;
}

/*
========================================================
	- p-footer
========================================================
*/
.p-footer {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 6vh 0px;
}
.p-footer img {
  height: 78px;
}

/*
========================================================
	- c-heading
========================================================
*/
/*case*/
.c-heading.is-case {
  font-size: 35px;
}

/*merit*/
.c-heading.is-merit {
  font-size: 34px;
  font-family: "小塚明朝 Pro", "Kozuka Mincyo Pro", serif;
}
.c-heading.is-merit strong {
  color: #252a6d;
  font-size: 46px;
}

.c-heading__sub.is-merit {
  font-size: 47px;
}

/*recommend*/
.c-heading.is-recommend {
  font-size: 34px;
  position: absolute;
  top: 1%;
  right: 0;
}
.c-heading.is-recommend strong {
  color: #252a6d;
  font-size: 46px;
}

.c-heading__sub.is-recommend {
  font-size: 82px;
  position: absolute;
  top: -15%;
  right: 0;
}

/*PRESENT */
.c-heading__sub.is-present {
  color: #fff;
  font-size: 19px;
}

.c-heading.is-present {
  font-size: 36px;
  color: #fff;
  display: inline-block;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px #fff;
  border-top: solid 1px #fff;
  margin: 20px auto;
}

/*design */
.c-heading.is-design {
  font-size: 47px;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
}

.c-heading.is-design:after {
  content: "";
  position: absolute;
  left: 50;
  bottom: 0;
  /*線の上下位置*/
  display: inline-block;
  width: 50%;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  background-color: #CBCBCB;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

/*plan*/
.c-heading.is-plan {
  font-size: 47px;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
}

.c-heading.is-plan:before {
  content: "";
  position: absolute;
  left: 25%;
  top: 0;
  /*線の上下位置*/
  display: inline-block;
  width: 50%;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  background-color: #CBCBCB;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

/*finance*/
.c-heading.is-finance {
  font-size: 47px;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
}

.c-heading.is-finance:after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  /*線の上下位置*/
  display: inline-block;
  width: 50%;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  background-color: #CBCBCB;
  /*線の色*/
  border-radius: 2px;
  /*線の丸み*/
}

.c-heading__sub.is-finance {
  font-size: 30px;
  display: inline-block;
  padding: 10px;
  background-color: #000000;
  color: #fff;
  font-weight: bold;
  margin-bottom: 20px;
}

/*flow*/
.c-heading.is-flow {
  font-size: 34px;
}
.c-heading.is-flow strong {
  font-family: "小塚明朝 Pro", "Kozuka Mincyo Pro", serif;
  color: #252a6d;
  font-size: 46px;
}

.c-heading__sub.is-flow {
  font-size: 27px;
}

/*access*/
.c-heading__sub.is-access {
  font-size: 47px;
  display: inline-block;
  padding-bottom: 20px;
  position: relative;
}

.c-heading__sub.is-access:after {
  content: "";
  position: absolute;
  left: 25%;
  bottom: 0;
  /*線の上下位置*/
  display: inline-block;
  width: 50%;
  /*線の長さ*/
  height: 1px;
  /*線の太さ*/
  background-color: #CBCBCB;
  /*線の色*/
}

.c-heading.is-access {
  display: block;
  font-size: 28px;
  margin-top: 20px;
}

/*
========================================================
	- c-mainV
========================================================
*/
.c-mainV {
  width: 100%;
}

.c-mainV__inner {
  margin-top: 60px;
  height: 100vh;
  background-image: url("../img/1x/mainvisual-100.jpg");
  /* 画像を常に天地左右の中央に配置 */
  background-position: center center;
  /* 画像をタイル状に繰り返し表示しない */
  background-repeat: no-repeat;
  /* コンテンツの高さが画像の高さより大きい時、動かないように固定 */
  background-attachment: fixed;
  /* 表示するコンテナの大きさに基づいて、背景画像を調整 */
  background-size: cover;
  position: relative;
}

.c-mainV__contents {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 434px;
  height: 461px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  text-align: center;
  padding-top: 114px;
  padding-bottom: 82px;
}

.c-mainV__logo {
  height: 86px;
  width: 227px;
}

.c-mainV__contents h2 {
  font-family: "小塚明朝 Pro", "Kozuka Mincyo Pro", serif;
  margin: 61px 0px 43px 0px;
}

.c-mainV__newOpen {
  height: 55px;
  width: 314px;
}

/*
========================================================
	- c-bubble
========================================================
*/
.c-bubble {
  background-color: #000000;
  border-radius: 10px;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 7px 10px;
  font-size: 16px;
  width: 100%;
}

.c-bubble:before {
  content: "";
  position: absolute;
  top: -15px;
  left: 30%;
  margin-left: -15px;
  border: 15px solid transparent;
  border-bottom: 15px solid #000000;
  -webkit-transform: rotate(95deg);
  transform: rotate(95deg);
}

.c-bubble p {
  font-weight: 24px;
  margin: 50px 0px 50px 0px;
  text-align: center;
  font-size: 24px;
}

.c-bubble span {
  background-color: #7a89a8;
  border-radius: 20px;
  display: inline-block;
  width: 211px;
  padding-top: 5px;
  padding-bottom: 5px;
  float: right;
  text-align: center;
  position: absolute;
  top: -15px;
  right: -10px;
}

/*
========================================================
	- c-num
========================================================
*/
/*case*/
.c-num.is-case {
  font-weight: bold;
  font-size: 24px;
  color: #c7c7c7;
  position: absolute;
  top: 84px;
  left: 84px;
}

/*merit*/
.c-num.is-merit {
  color: #fff;
  font-size: 42px;
  font-weight: bold;
  background: url("../img/SVG/merit.svg") no-repeat;
  display: block;
  height: 89px;
  width: 111px;
  padding: 15px 10px;
}

/*
.c-num:before{
  content: url('../img/SVG/merit.svg');
  width:62px;
  height: 23px;
  position: absolute;
  top:-20px;
  left:calc(50% - 31px);
}

.c-num:after{
		width: calc(100% - 46px);
		height: 0;
		display: block;
		position: absolute;
		left: 0;
		content: "";
    border-top: solid  46px $primary;
    border-radius: 0px 0px 0px 46px;
		border-right: solid 46px transparent;
		top: 100%;
	}
  */
/*
========================================================
	- c-button
========================================================
*/
.c-button.is-present {
  display: inline-block;
  border-radius: 18px;
  background-color: #fff;
  font-size: 19px;
  padding: 3px 15px 3px 15px;
}

/*
========================================================
	- c-slider
========================================================
*/
.slider {
  width: 80vw;
}

.slider img {
  height: auto;
  width: 100%;
}

.prev-arrow {
  border-bottom: 10px solid #333;
  border-left: 0;
  border-right: 10px solid blue;
  border-top: 10px solid #333;
}

.next-arrow {
  border-bottom: 10px solid #333;
  border-left: 10px solid red;
  border-right: 0;
  border-top: 10px solid #333;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
}

/*
========================================================
	- c-text
========================================================
*/
/*merit*/
.c-text__summary.is-merit {
  font-size: 28px;
  font-weight: bold;
}
.c-text__summary.is-merit strong {
  color: #252a6d;
  font-size: 36px;
}

.c-text__summary.is-merit:after {
  content: url("../img/SVG/comic.svg");
  display: inline-block;
  width: 41px;
  height: 34px;
  position: absolute;
  top: calc(0% + 68px);
}

.c-text__detail.is-merit {
  margin-top: 20px;
  font-size: 21px;
}

/*recommend*/
.c-text__summary.is-recommend {
  font-size: 20px;
  margin-bottom: 10px;
}

.c-text__detail.is-recommend {
  font-size: 19px;
}

/*design*/
.c-text__summary.is-design {
  font-size: 27px;
  margin: 20px auto;
}

.c-text__detail.is-design {
  font-size: 19px;
}

/*finance*/
.c-text__finance__subTitle {
  font-size: 25px;
  font-weight: bold;
  display: block;
}

.c-text__finance__price {
  color: #7a89a8;
  font-size: 90px;
  font-weight: bold;
}

.c-text__finance__yen {
  color: #7a89a8;
  font-size: 35px;
  font-weight: bold;
}

.c-text__finance__priceDetail {
  display: block;
}

/*flow*/
.c-text__summary.is-flowChart {
  color: #fff;
  font-size: 21px;
  font-style: normal;
  border-bottom: 1px #fff solid;
  padding: 20px 0px 10px 0px;
}

.c-text__detail.is-flowChart {
  color: #fff;
  font-size: 16px;
  font-style: normal;
  padding-top: 10px;
}

/*attention*/
.c-text__summary.is-attentionBox {
  color: #fff;
  font-size: 32px;
}

.c-text__detail.is-attentionBox {
  color: #fff;
  font-size: 18px;
}

.c-text__caption.is-attentionList {
  font-size: 14px;
}

/*
========================================================
	- c-list
========================================================
*/
/*plan*/
.c-list.is-plan {
  display: inline-block;
}
.c-list.is-plan dl {
  width: 80%;
  padding: 1em 0px 1em 0em;
  border-bottom: solid 1px #cbcbcb;
  display: inline-block;
}
.c-list.is-plan dl dt {
  /*左に寄せる*/
  text-align: left;
  float: left;
  /*後続の左寄せを解除*/
  clear: left;
  margin-right: 0.5em;
  width: 20%;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .c-list.is-plan dl dt {
    width: 30%;
  }
}
.c-list.is-plan dl dd {
  float: left;
  margin-left: 1em;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .c-list.is-plan dl dd {
    width: 60%;
    text-align: left;
  }
}
.c-list.is-plan dl dd .is-tag {
  display: inline-block;
  border-radius: 5px;
  background-color: #fff;
  border: solid 1px #cbcbcb;
  padding: 0.2em 0.5em 0.2em 0.5em;
  margin-right: 1em;
  position: relative;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .c-list.is-plan dl dd .is-tag {
    font-size: 12px;
    vertical-align: top;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-bottom: 1em;
    float: left;
  }
}

/*finance*/
.c-list.is-finance dl {
  width: 80%;
  padding: 1em 0px 1em 0em;
  display: inline-block;
}
.c-list.is-finance dl dt {
  /*左に寄せる*/
  text-align: left;
  float: left;
  /*後続の左寄せを解除*/
  clear: left;
  margin-right: 0.5em;
  width: 30%;
  position: relative;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .c-list.is-finance dl dt {
    width: 30%;
  }
}
.c-list.is-finance dl dt:after {
  /*border-bottom: 3px dotted $primary;*/
  content: "・・・・・・・・・・・・・・・・";
  position: absolute;
  top: 0%;
}
.c-list.is-finance dl dd {
  float: right;
  text-align: right;
  margin-left: 1em;
  background-color: #fff;
}

/*plan*/
.c-list.is-access {
  display: inline-block;
  font-size: 18px;
}
.c-list.is-access dl {
  width: 35vw;
  padding: 1em 0px 0em 0em;
  display: inline-block;
}
.c-list.is-access dl dt {
  width: 30%;
  /*左に寄せる*/
  text-align: center;
  float: left;
  /*後続の左寄せを解除*/
  clear: left;
  margin-right: 0.5em;
  background-color: #565f64;
  color: #fff;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .c-list.is-access dl dt {
    width: 30%;
  }
}
.c-list.is-access dl dd {
  width: 60%;
  text-align: left;
  float: left;
  margin-left: 1em;
}
@media screen and (max-width: 576px) and (orientation: portrait) {
  .c-list.is-access dl dd {
    width: 60%;
    text-align: left;
  }
}
.c-list.is-access dl dd span {
  font-size: 12px;
}