/*
========================================================
- p-attention
========================================================
*/

.p-attention{
  width: 100%;
  margin: 0 auto;
  padding: 88px 0px 69px 0px;
  text-align: center;
  @include media-query('s') {
    width: 90%;
      padding: 40px 0px 40px 0px;
  }
}
.p-attention__box{
  width: 67%;
  margin: 0 auto 30px;
  background-color: $deepbrack_color;
  text-align: left;
  padding: 40px 60px;
  h3{
      background-color: #fff;
      border-radius: 40px;
      display: inline-block;
      padding: 5px;
      font-size: 20px;
  }
  @include media-query('s') {
    width: 100%;
    text-align: center;
    margin-bottom:0px;
    h3{
        display: block;
        width: 50%;
        margin: 0 auto;
        font-size: 16px;
        margin-bottom:20px;
    }
  }
}


.p-attention__list{
  width: 64%;
  margin: auto;
  display: flex;
  .p-attention__list__5col{
      width: 100%;
      text-align: center;
      padding: 20px 20px;
    }
  img:nth-child(n+0){
    height: 83px;
    margin: 10px 0px;
  }

  @include media-query('s') {
    width: 100%;
    display:block;
    .p-attention__list__5col{
      display: inline-block;
      float: left;
      width: 50%;
      height: 200px;
      }
  }
}
.p-attention__list__container{
  @include media-query('s') {
    width: 100%;
    border: 1px $lightgray_color solid;
    padding: 30px;
  }
}
@include media-query('l') {
  .p-attention__list__5col:nth-child(n+0):nth-child(-n+5){
    border-bottom: 1px $lightgray_color solid;
  }
  .p-attention__list__5col:nth-child(n+0):nth-child(-n+4){
    border-right: 1px $lightgray_color solid;
  }
  .p-attention__list__5col:nth-child(n+6):nth-child(-n+9){
    border-right: 1px $lightgray_color solid;
  }
}
@include media-query('m') {
  .p-attention__list__5col:nth-child(n+0):nth-child(-n+5){
    border-bottom: 1px $lightgray_color solid;
  }
  .p-attention__list__5col:nth-child(n+0):nth-child(-n+4){
    border-right: 1px $lightgray_color solid;
  }
  .p-attention__list__5col:nth-child(n+6):nth-child(-n+9){
    border-right: 1px $lightgray_color solid;
  }
}
@include media-query('s') {
  .p-attention__list:nth-child(1){
    .p-attention__list__5col{
      border-bottom: 1px $lightgray_color solid;
    }
    .p-attention__list__5col:nth-child(odd){
        border-right: 1px $lightgray_color solid;
      }
    }
    .p-attention__list:nth-child(2){
      .p-attention__list__5col:nth-child(even){
          border-right: 1px $lightgray_color solid;
        }
        .p-attention__list__5col:nth-child(n+0):nth-child(-n+3){
          border-bottom: 1px $lightgray_color solid;
        }
      }
}
