/*
========================================================
	- p-case
========================================================
*/

.p-case{
  width: 100%;
  margin: 0 auto;
  padding: 76px 24px 69px 24px;
  text-align: center;
}

$elements: 3;
@for $i from 0 to $elements {
  .p-case__contents__3col:nth-child(#{$i + 1}) {
    background-image: url("../img/SVG/_0"+#{$i + 1}+".svg");
    background-position: top left 30px;
  }
}
.p-case__contents__3col:nth-child(2) {
    @include media-query('s') {
      background-position:  top left 30px;
    }
}

.p-case__contents{
  width: 100%;
  margin-top:45px;
  padding: 0 35px;
  @include media-query('s') {
    width:  100%;
  }
}

.p-case__contents__3col{
  display: inline-block;
  vertical-align:middle;
  background-repeat: no-repeat;
  background-size: 48%;
  width: 30%;
  height: 306px;
  text-align: left;
  position: relative;
  padding-top: 185px;
  &:nth-child(1) {
      background-size: 41%;
  }
  &:nth-child(2) {
    margin-left: 3vw;
    margin-right: 3vw;
    @include media-query('s') {
      margin: 0 auto;
      width:90%;
    }
  }
  @include media-query('s') {
    margin: 0 auto;
    width:90%;
  }
}
