/*
========================================================
	- p-contact
========================================================
*/

.p-contact{
  width: 1120px;
  margin: 0 auto;
  text-align: center;
  padding: 10vh 0px;
  span{
    font-size: 47px;
  }
  border-top: 2px solid $primary;
  border-bottom: 2px solid $primary;

    @include media-query('s') {
      width: 90%;
      border: 1px solid $primary;
      padding: 5vh 0px;
      span{
        font-size: 40px;
      }
    }
}
