/*
========================================================
	- p-design
========================================================
*/

.p-design{
  width: 100%;
  position: relative;
}
.p-design__background{
  position: absolute;
  top: 40vh;
  width: 70%;
  height: 50%;
  right: 0;
  background: $lightgray_color;
  @include media-query('s') {
    top: 100px;
    width: 50%;
    height: 50vh;
    right: 0;
  }
}

.p-design__contents{
  width: 1120px;
  margin: 80px 80px 80px 230px;
  position: relative;
  @include media-query('s') {
    width:  90%;
  }
}
.p-design__contents__left{
  float: left;
  @include media-query('s') {
    width:  100%;
  }
}

.p-design__contents__right{
  float: right;
  position: absolute;
  top:30%;
  right:0;
  @include media-query('s') {
  position: relative;
  float: none;
  top:60px;
  right:0;
  }
}
