/*
========================================================
	- p-finance
========================================================
*/

.p-finance{
  width: 100%;
  margin: 0 auto;
  padding: 88px 0px 69px 0px;
  text-align: center;
  background-color: $lightgray_color;
}
.p-finance__contents{
  width: 100%;
  margin: 0 auto;
}
.p-finance__2col{
  background-color:#fff;
  display: inline-block;
  width: 40%;
}
