/*
========================================================
	- p-finance
========================================================
*/

.p-finance{
  width: 100%;
  margin: 0 auto;
  padding: 88px 0px 69px 0px;
  background-color: $lightgray_color;
  text-align: center;
}
.p-finance__contents{
  width: 100%;
  margin: 0 auto;
}
.p-finance__2col{
  background-color:#fff;
  display: inline-block;
  width: 40%;
  height: 400px;
  vertical-align: bottom;
  position: relative;
  @include media-query('s') {
  width: 90%;
  margin-bottom: 40px;
  }
}
.p-finance__2col__right{
  position: absolute;
  top: 20%;
}
.p-finance__2col__left{
  width:383px;
  margin: auto;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
   div{
     text-align: left;
   }

}

.p-finance__2col__left:after{
  content: '';/*何も入れない*/
  display: inline-block;/*忘れずに！*/
  background-image: url(../img/SVG/atamakin.svg);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  width: 100%;/*画像の高さ*/
  height: 100%;/*画像の高さ*/
  right:-320px;
  top:-150px;
}
