/*
========================================================
	- p-finance
========================================================
*/

.p-finance{
  width: 100%;
  margin: 0 auto;
  padding: 88px 0px 69px 0px;
  background-color: $lightgray_color;
  text-align: center;
}
.p-finance__contents{
  width: 100%;
  margin: 0 auto;
}
.p-finance__2col{
  background-color:#fff;
  display: inline-block;
  width: 40%;
  height: 400px;
  vertical-align: bottom;
  position: relative;

}
.p-finance__2col__right{
  position: absolute;
  top: 20%;
}
.p-finance__2col__left{
   text-align: left;
   position: absolute;
   top: 20%;
   left: 20%;
}

.p-finance__2col__left:after{
  content: url('../img/SVG/atamakin.svg');
  position: absolute;
  top:0px;
}
