/*
========================================================
	- p-flow
========================================================
*/

.p-flow{
  width: 100%;
  margin: 0 auto;
  padding: 88px 0px 69px 0px;
  text-align: center;
}
