/*
========================================================
	- p-footer
========================================================
*/

.p-footer{
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 6vh 0px;
 img{
   height: 78px;
 }
}
