/*
========================================================
	- p-merrit
========================================================
*/

.p-merit{
  width: 100%;
  padding: 58px 0px 0px 0px;
  text-align: center;
}

.p-merit__contents{
  width: 100%;
  margin: 0 auto;
  margin-top: 55px;
  .p-merit__contents__block{
    max-width: 1300px;
    margin: 0 auto;
    display: flex;
    padding-bottom: 120px;
  }
  .p-merit__contents__block:nth-child(2){
      padding-bottom: 90px;
  }


  .p-merit__contents__box__description{
      width: 55%;
      display: inline-block;
      text-align: left;
      position: relative;
      padding: 105px 70px 0px 130px;
      height:100%;
      span{
        position: absolute;
        top:-10px;
        left: 45px;
      }
      @include media-query('s') {
       padding: 50px 10px 0px 50px;
      }
    }
    .p-merit__contents__box__description:nth-child(4){
      margin-bottom: 90px;
    }
    .p-merit__contents__box__description:nth-child(5){
      margin-bottom: 125px;
    }
    .p-merit__img{
      width:45%;
      display: inline-block;
      position: relative;
      img{
        position: absolute;
        top:20px;
        left: 0px;
        width:90%;
      }
    }

    .p-merit__contents__block:nth-child(2){
        .p-merit__img{
          width:45%;
          display: inline-block;
          position: relative;
          img{
            position: absolute;
            top:20px;
            left: 50px;
            width:90%;
          }
        }
        .p-merit__contents__box__description{
          margin-left: 50px;
          padding-right:0px; 
          width:50%;
        }
    }


  @include media-query('s') {
    margin-top: 40px;
    width: 90%;
    .p-merit__img{
      margin: 40px 0px 70px 0px;
    }
    display: flex;
    flex-direction: column;
      .order1 {
        order: 1;
      }
      .order2 {
        order: 2;
      }
  }


}
