/*
========================================================
	- p-merrit
========================================================
*/

.p-merit{
  width: 100%;
  padding: 58px 0px 0px 0px;
  text-align: center;
}

.p-merit__contents{
  width: 100%;
  margin: 0 auto;
  padding: 58px 12vw 0px 12vw;
    .p-merit__contents__box__description{
      width: 50%;
      display: inline-block;
      margin-bottom: 150px;
    }
    .p-merit__contents__box__description:nth-child(4){
      margin-bottom: 90px;
    }
    .p-merit__contents__box__description:nth-child(5){
      margin-bottom: 125px;
    }
    .p-merit__img{
      width:36%;
      display: inline-block;
      position: relative;
      img{
        width:100%;
        position: absolute;
        top:-260px;
        left: -20px;

      }
    }
    .p-merit__img:nth-child(3){
      margin-left: 150px;
      img{
        position: absolute;
        top:-320px;
        left: -20px;
      }
    }

    .p-merit__contents__box__description{
      text-align: left;
      position: relative;
      span{
        position: absolute;
        top:-10px;
        left: 45px;
      }
      padding: 105px 50px 0px 130px;
      @include media-query('s') {
       padding: 50px 10px 0px 50px;
      }
    }


  @include media-query('s') {
    margin-top: 40px;
    width: 90%;
    .p-merit__img{
      margin: 40px 0px 70px 0px;
    }
    display: flex;
    flex-direction: column;
      .order1 {
        order: 1;
      }
      .order2 {
        order: 2;
      }
      .order3 {
        order: 3;
      }
      .order4 {
        order: 4;
      }
      .order5 {
        order: 5;
      }
      .order6 {
        order: 6;
      }
  }


}
