/*
========================================================
	- p-plan
========================================================
*/

.p-plan{
  width: 100%;
  margin: 260px auto 85px auto;
  text-align: center;
  .c-plan__img{
    margin: 100px 60px 0px 0px;
  }
  p{
    margin: 62px auto 110px auto;
  }

  @include media-query('s') {
    width:  90%;
      margin: 130px auto 130px auto;
    p{
        margin: 62px auto 62px auto;
    }
    img{
      width:  45%;
      margin-top: 30px;
    }
  }
}
