/*
========================================================
	- p-present
========================================================
*/


.p-present{
  width: 1120px;
  margin: 120px auto;
  padding: 69px 0px 69px 0px;
  text-align: center;
  background-color: $darkgray_color;
}
