/*
========================================================
	- c-button
========================================================
*/
.c-button.is-present{
  display: inline-block;
  border-radius: 18px;
  background-color: #fff;
  font-size: 19px;
  padding: 3px 50px 3px 50px;
}
