/*
========================================================
	- c-heading
========================================================
*/
/*case*/
.c_heading{
  letter-spacing:0em;
}
.c-heading.is-case{
  font-size: 35px;
  @include media-query('s') {
   font-size: 22px;
  }
}

/*merit*/
.c-heading.is-merit{
  font-size: 34px;
  font-family:  $kozukaMincyo_font;
  @include media-query('s') {
   font-size: 20px;
  }
  strong{
    color:$blue_color;
    font-size: 46px;
    @include media-query('s') {
     font-size: 30px;
    }
  }
}
.c-heading__sub.is-merit{
  font-size: 47px;
  @include media-query('s') {
   font-size: 23px;
  }
}


/*recommend*/
.c-heading.is-recommend{
  font-size: 34px;
  position: absolute;
  top:1%;
  right:0;
  @include media-query('s') {
   font-size: 20px;
   top:2%;
  }
  strong{
    color:$blue_color;
    font-size: 46px;
    @include media-query('s') {
     font-size: 30px;
    }
  }

}
.c-heading__sub.is-recommend{
  font-size: 82px;
  position: absolute;
  top:-15%;
  right:0;
  @include media-query('s') {
   font-size: 46px;
   top:-3%;
  }
}

/*PRESENT */
.c-heading__sub.is-present{
  color:#fff;
  font-size: 19px;
  @include media-query('s') {
   font-size: 16px;
  }
}
.c-heading.is-present{
  font-size: 36px;
  color:#fff;
  display: inline-block;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px #fff;
  border-top: solid 1px #fff;
  margin:20px auto;
  @include media-query('s') {
   font-size: 19px;
  }
}

/*design */
.c-heading.is-design{
  font-size: 47px;
  display:inline-block;
  padding-bottom: 20px;
  position: relative;
}

.c-heading.is-design:after{
  content: '';
  position: absolute;
  left: 50;
  bottom: 0;/*線の上下位置*/
  display: inline-block;
  width: 50%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  background-color: #CBCBCB;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}



/*plan*/
.c-heading.is-plan{
  font-size: 47px;
  display:inline-block;
  padding-bottom: 20px;
  position: relative;
}
.c-heading.is-plan:before{
  content: '';
  position: absolute;
  left: 25%;
  top: 0;/*線の上下位置*/
  display: inline-block;
  width: 50%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  background-color: #CBCBCB;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}

/*finance*/
.c-heading.is-finance{
  font-size: 47px;
  display:inline-block;
  padding-bottom: 20px;
  position: relative;
}
.c-heading.is-finance:after{
  content: '';
  position: absolute;
  left: 25%;
  bottom: 0;/*線の上下位置*/
  display: inline-block;
  width: 50%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  background-color: #CBCBCB;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
.c-heading__sub.is-finance{
  font-size: 30px;
  display:inline-block;
  padding: 10px;
  background-color: $primary;
  color:#fff;
  font-weight: bold;
  margin-bottom: 20px;
}

/*flow*/
.c-heading.is-flow{
  font-size: 34px;
  strong{
    font-family:  $kozukaMincyo_font;
    color:$blue_color;
    font-size: 46px;
  }
}
.c-heading__sub.is-flow{
  font-size: 27px;
}

/*access*/
.c-heading__sub.is-access{
  font-size: 47px;
  display:inline-block;
  padding-bottom: 20px;
  position: relative;
}
.c-heading__sub.is-access:after{
  content: '';
  position: absolute;
  left: 25%;
  bottom: 0;/*線の上下位置*/
  display: inline-block;
  width: 50%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  background-color: #CBCBCB;/*線の色*/
}
.c-heading.is-access{
  display: block;
  font-size: 28px;
  margin-top: 20px;
}
