/*
========================================================
	- c-heading
========================================================
*/
/*case*/
.c-heading.is-case{
  font-size: 35px;
}

/*merit*/
.c-heading.is-merit{
  font-size: 34px;
  font-family:  $kozukaMincyo_font;
  strong{
    color:$blue_color;
    font-size: 46px;
  }
}
.c-heading__sub.is-merit{
  font-size: 47px;
}


/*recommend*/
.c-heading.is-recommend{
  font-size: 34px;
  strong{
    color:$blue_color;
    font-size: 46px;
  }
  position: absolute;
  top:1%;
  right:0;
}
.c-heading__sub.is-recommend{
  font-size: 82px;

  position: absolute;
  top:-15%;
  right:0;
}

/*PRESENT */
.c-heading__sub.is-present{
  color:#fff;
  font-size: 19px;

}
.c-heading.is-present{
  font-size: 36px;
  color:#fff;
  display: inline-block;
  padding: 10px 0px 10px 0px;
  border-bottom: solid 1px #fff;
  border-top: solid 1px #fff;
  margin:20px auto;
}

/*PRESENT */
.c-heading.is-design{
  font-size: 47px;
  display:inline-block;
  padding-bottom: 20px;
  position: relative;
}

.c-heading.is-design:after{
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;/*線の上下位置*/
  display: inline-block;
  width: 50%;/*線の長さ*/
  height: 1px;/*線の太さ*/
  background-color: #CBCBCB;/*線の色*/
  border-radius: 2px;/*線の丸み*/
}
