/*
========================================================
	- c-list
========================================================
*/
/*plan*/
.c-list.is-plan{
  display: inline-block;

  dl{
     width:80%;
     padding: 1em 0px 1em 0em;
     border-bottom: solid 1px #cbcbcb;
     display: inline-block;
     @include media-query('s') {
       width: 90%;
     }
      dt {
    	    /*左に寄せる*/
          text-align:left;
    	    float: left ;
    	    /*後続の左寄せを解除*/
    	    clear: left ;
    	    margin-right: 0.5em ;
    	    width: 20%;
          @include media-query('s') {
            width: 25%;
          }
        }
    dd {
    	    float: left ;
    	    margin-left: 1em ;
          @include media-query('s') {
            width: 65%;
            text-align: left;
            font-size: 14px;
          }
          .is-tag{
              display: inline-block;
              border-radius: 5px;
              background-color: #fff;
              border: solid 1px #cbcbcb;
              padding: 0.2em  0.5em 0.2em  0.5em;
              margin-right: 1em;
              position:  relative;
              @include media-query('s') {
                font-size: 12px;
                vertical-align:  top;
                box-sizing: border-box;
                margin-bottom: 1em;
                float: left ;
              }
          }

    }
  }
}

/*finance*/
.c-list.is-finance{
  dl{
     width:80%;
     padding: 1em 0px 1em 0em;
     display: inline-block;
      dt {
    	    /*左に寄せる*/
          text-align:left;
    	    float: left ;
    	    /*後続の左寄せを解除*/
    	    clear: left ;
    	    margin-right: 0.5em ;
    	    width: 30%;
          position: relative;
          @include media-query('s') {
            width: 32%;
          }
        }
        dt:after {
          /*border-bottom: 3px dotted $primary;*/
        content: '・・・・・・・・・・・・・・・・';
          position: absolute;
          top: 0%;
        }
    dd {
    	    float: right ;
          text-align: right;
    	    margin-left: 1em ;
          background-color: #fff;
    }

  }
}

/*plan*/
.c-list.is-access{
  display: inline-block;
  font-size: 18px;
  dl{
     width:35vw;
     padding: 1em 0px 0em 0em;
     display: inline-block;
      dt {
          width:30%;
    	    /*左に寄せる*/
          text-align:center;
    	    float: left ;
    	    /*後続の左寄せを解除*/
    	    clear: left ;
    	    margin-right: 0.5em ;
          background-color: $darkgray_color;
          color: #fff;
          @include media-query('s') {
            width: 30%;
          }
        }
    dd {
          width:60%;
          text-align: left;
    	    float: left;
    	    margin-left: 1em ;
          @include media-query('s') {
            width: 60%;
            text-align: left;
          }
          span{
            font-size: 12px;
          }

    }
  }
}
