/*
========================================================
	- c-slider
========================================================
*/
.slider{
  width: 80vw;
  @include media-query('s') {
   width: 90vw;
  }
  position: relative;
}
.slider img{
  height: auto;
  width: 100%;
}

.btnStyle{
  background-color: #000;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80% auto;
  width:53px;
  height:53px;
  @include media-query('s') {
    width:40px;
    height:40px;
  }
}
.prev-arrow{
  @extend .btnStyle;
    background-image: url(../img/SVG/prevArrow.svg);
    position: absolute;
    right:70px;
    bottom:-90px;
    @include media-query('s') {
      right:55px;
      bottom:-55px;
    }
}
.next-arrow{
  @extend .btnStyle;
  background-image: url(../img/SVG/nextArrow.svg);
  position: absolute;
  right:0px;
  bottom:-90px;
  @include media-query('s') {
    right:0px;
    bottom:-55px;
  }
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  padding: 0;
}
