/*
========================================================
	- c-text
========================================================
*/
/*merit*/
.c-text__summary.is-merit{
   font-size: 28px;
   font-weight:bold;
   @include media-query('s') {
    font-size: 20px;
   }
   strong{
     color:$blue_color;
      font-size: 36px;
      font-weight:bold;
      @include media-query('s') {
       font-size: 28px;
      }
   }
	}
.c-text__summary.is-merit:after{
  content:url('../img/SVG/comic.svg');
   display: inline-block;
   width:41px;
   height: 34px;
   position: absolute;
   top:calc(0% + 68px);

   @include media-query('s') {
     position: absolute;
     top:calc(0% + 38px);
   }
}
.c-text__detail.is-merit{
  margin-top:20px;
  font-size: 21px;
  @include media-query('s') {
   font-size: 16px;
  }
}
/*recommend*/
.c-text__summary.is-recommend{
   font-size: 20px;
   margin-bottom: 10px;
   @include media-query('s') {
      font-size: 18px;
   }
}
.c-text__detail.is-recommend{
     font-size: 19px;
     @include media-query('s') {
        font-size: 16px;
     }
}
/*design*/
.c-text__summary.is-design{
   font-size: 27px;
   margin:20px auto;
   @include media-query('s') {
      font-size: 20px;
   }

}
.c-text__detail.is-design{
    font-size: 19px;
    @include media-query('s') {
       font-size: 16px;
    }
}
/*finance*/
.c-text__finance__subTitle{
  font-size: 25px;
  font-weight: bold;
  display: block;
}
.c-text__finance__price{
  color: $bluegray_color;
  font-size: 90px;
  font-weight: bold;
}
.c-text__finance__yen{
  color: $bluegray_color;
  font-size: 35px;
  font-weight: bold;
}
.c-text__finance__priceDetail{
display: block;
}

/*flow*/
.c-text__summary.is-flowChart{
    color: #fff;
    font-size: 21px;
    font-style: normal;
    border-bottom: 1px #fff solid;
    padding: 20px 0px 10px 0px;
    @include media-query('s') {
       font-size: 16px;
    }
}
.c-text__detail.is-flowChart{
  color: #fff;
    font-size: 16px;
    font-style: normal;
    padding-top:10px;
    @include media-query('s') {
       font-size: 14px;
    }
}

/*attention*/
.c-text__summary.is-attentionBox{
  color: #fff;
  font-size: 32px;
  @include media-query('s') {
   font-size: 20px;

  }

}
.c-text__detail.is-attentionBox{
  color: #fff;
  font-size: 18px;

  @include media-query('s') {
     margin-top:20px;
   font-size: 14px;
  }
}
.c-text__caption.is-attentionList{
  font-size: 14px;
  @include media-query('s') {
   font-size: 12px;
  }
}
